a {
  color: #ffcdbc;

}

a:hover {
  color: #ffcdbc; 
}

body {
  background-color: #130303;
  text-align: center;
}

h1.header {
  color: #f5853f;
  font-family: fantasy;
}

.history > p {
  width: 750px;
  margin: auto;
  border: 2px solid peachpuff;
  padding: 4px;
}

.header {
  color: #130303;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ingre > ul {
  box-sizing: border-box;
  padding-left: 0px;
  width: 300px;
  margin: 20px auto;
  list-style: none;
  border: 2px solid peachpuff;
  padding: 4px;
}

.step > ol {
  box-sizing: border-box;
  padding-left: 0px;
  width: 500px;
  margin: auto;
  border: 2px solid peachpuff;
  padding: 4px;
  list-style: none;
}

p,li {
  color: #ffcdbc;
}

.slidetwo {
  background-color: #7e2b12;
}
a:hover {
  color: #e97751; 
}
